# Executables
app/release
app/debug

# Secrets
secrets.xml
manual-cefaleapp-backup.odt
*.odt#

# Gradle & IntelliJ trash
.project
.settings
app/.settings
app/.project
app/.classpath
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
gradle*
